header {
    margin: 40px auto;
}

#app-header {
    /* margin: 0 auto; */
    text-align: center;
    color: white;
    font-size: 40px;
}

#location-input {
    text-align: center;
    margin: 20px;
}

.temp-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    // justify-content: ;
}

.temp,
.other {
    margin: 20px;
    text-align: center;
    color: rgb(39, 37, 37);
}

#weather-logo {
    // margin: 10px auto;
    text-align: center;
    font-size: 144px;
    color: white;
    display: block;
    line-height: normal;
    // margin: 50px;
}

body {
    /* background-image: url("../img//pexels-photo-rain.jpeg"); */
    // background-image: url("../img//pexels-photo-mountains.jpeg");
    background-image: url("../img//pexels-photo-red-skies.jpeg");
    background-repeat: repeat-y;
    /* color: rgb(216, 212, 212); */
}

input[name="city"],
input[name="country"] {
    // animation: fade-in 0.5s ease;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0%;
    border: none;
    border-bottom: 2px solid rgb(207, 207, 207);
    outline: none;
    padding: 0%;
    transition: all 0.3s ease;
    color: white;
    font-size: 24px;
    margin: 20px;
    animation: fade-out 0.5s ease;
}

input[name="city"]:focus,
input[name="country"]:focus {
    /* width: 100px; */
    background-color: transparent;
    border-bottom: 2px solid rgb(81, 115, 189);
}

input[name="city"]::placeholder,
input[name="country"]::placeholder {
    color: white;
}

input[name="city"].input-city-error {
    animation: fade-in 1.5s ease;
    border-bottom: 2px solid rgb(255, 0, 0);
}
input[name="city"].input-city-error:focus {
    border-bottom: 2px solid rgb(255, 0, 0);
}

input[name="city"].input-city-error::placeholder {
    // animation: fade-in 1.5s ease;
    color: red;
}

input[type="submit"],
#geo-button {
    background-color: teal;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover,
#geo-button:hover {
    background-color: rgb(29, 182, 182);
}

#geo-button {
    margin: 0 20px;
}

.geolocation {
    color: white;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
}

.forecast-options {
    width: 900px;
    margin: 0 auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0.3) 0%,
        rgba(181, 45, 186, 0.3) 0%,
        rgba(157, 59, 232, 0.3) 100%
    );
    border-radius: 15px;
}

.forecast-options p {
    position: relative;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0;
    opacity: 1;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 700px;
    justify-content: space-around;
    margin: 0px auto;
}

.checkboxes label {
    color: white;
    font-size: 18px;
}

.forecast-options-show {
    animation: forecast-options-slide-out 1s ease-out;
    height: 50px;
}

.forecast-options-hide {
    animation: forecast-options-slide-in 1s ease-in;
}

.input-error {
    font-size: 32px;
    color: red;
    text-align: center;
    font-weight: normal;
    text-decoration: underline;
    animation-name: input-error-slide;
    animation-duration: 7s;
}

.hide {
    display: none;
}

#location {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
    & p {
        font-weight: bold;
        margin: 0;
        font-size: 40px;
    }
}

#temperature,
#other-weather {
    margin: 20px auto;
    justify-content: center;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 24px;
    transition: all 1s ease;
    p {
        color: white;
        font-size: 22px;
    }
}

.val {
    font-weight: bold;
    font-size: 24px;
    color: whitesmoke;
    text-decoration: underline;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        // border-bottom: 0px solid red;
    }
    50% {
        opacity: 1;
        // border-bottom: 2px solid red;
    }
    100% {
        opacity: 0;
        // border-bottom: 0px solid red;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes input-error-slide {
    0% {
        height: 0px;
        opacity: 0;
    }
    25% {
        height: 50px;
        opacity: 1;
    }
    50% {
        height: 50px;
        opacity: 1;
    }
    75% {
        height: 50px;
        opacity: 1;
    }
    100% {
        height: 0px;
        opacity: 0;
    }
}

@keyframes forecast-options-slide-out {
    0% {
        height: 0px;
        // line-height: 0;
        // padding: 0 1em;
        opacity: 0;
    }
    100% {
        height: 50px;
        opacity: 1;
        // line-height: 1;
        // padding-top: 1em;
        // padding-bottom: 1em;
    }
}

@keyframes forecast-options-slide-in {
    0% {
        height: 50px;
        opacity: 1;
        // line-height: 1;
        // padding-top: 1em;
        // padding-bottom: 1em;
    }
    100% {
        height: 0px;
        opacity: 0;
        // padding: 0 1em;
        // opacity: 0;
    }
}

.arrow {
    width: 3vmin;
    height: 3vmin;
    box-sizing: border-box;
    position: absolute;
    left: 90%;
    top: 5%;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        border-width: 0.8vmin 0.8vmin 0 0;
        border-style: solid;
        border-color: #fafafa;
        transition: 0.2s ease;
        display: block;
        transform-origin: 100% 0;
    }

    &:after {
        content: "";
        float: left;
        position: relative;
        top: -100%;
        width: 100%;
        height: 100%;
        border-width: 0 0.8vmin 0 0;
        border-style: solid;
        border-color: #fafafa;
        transform-origin: 100% 0;
        transition: 0.3s ease;
    }

    &:hover::after {
        transform: rotate(45deg);
        border-color: rgb(76, 54, 156);
        height: 120%;
    }
    &:hover::before {
        border-color: rgb(76, 54, 156);
        transform: scale(0.8);
    }
}

.arrow-down {
    transform: rotate(135deg);
    animation: fade-out-2 1s ease-out;
}

.arrow-up {
    top: 35%;
    left: 89%;
    transform: rotate(-45deg);
    animation: fade-out 1s ease-in;
}

.geo {
    color: white;
    font-size: 20px;
}
