header {
    margin: 40px auto;
}

#app-header {
    /* margin: 0 auto; */
    text-align: center;
    color: white;
    font-size: 40px;
}

#location-input {
    text-align: center;
    margin: 20px;
}

.temp-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    // justify-content: ;
}

.temp,
.other {
    margin: 20px;
    text-align: center;
    color: rgb(39, 37, 37);
}

#weather-logo {
    // margin: 10px auto;
    text-align: center;
    font-size: 144px;
    color: white;
    display: block;
    line-height: normal;
    // margin: 50px;
}

body {
    /* background-image: url("../img//pexels-photo-rain.jpeg"); */
    // background-image: url("../img//pexels-photo-mountains.jpeg");
    background-image: url("../img//pexels-photo-red-skies.jpeg");
    background-repeat: repeat-y;
    /* color: rgb(216, 212, 212); */
}

input[name="city"],
input[name="country"] {
    // animation: fade-in 0.5s ease;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0%;
    border: none;
    border-bottom: 2px solid rgb(207, 207, 207);
    outline: none;
    padding: 0%;
    transition: all 0.3s ease;
    color: white;
    font-size: 24px;
    margin: 20px;
    animation: fade-out 0.5s ease;
}

input[name="city"]:focus,
input[name="country"]:focus {
    /* width: 100px; */
    background-color: transparent;
    border-bottom: 2px solid rgb(81, 115, 189);
}

input[name="city"]::placeholder,
input[name="country"]::placeholder {
    color: white;
}

input[name="city"].input-city-error {
    animation: fade-in 1.5s ease;
    border-bottom: 2px solid rgb(255, 0, 0);
}
input[name="city"].input-city-error:focus {
    border-bottom: 2px solid rgb(255, 0, 0);
}

input[name="city"].input-city-error::placeholder {
    // animation: fade-in 1.5s ease;
    color: red;
}

input[type="submit"] {
    background-color: teal;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 10%;
}

.forecast-options p {
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 700px;
    justify-content: space-around;
    margin: 0px auto;
}

.checkboxes label {
    color: white;
    font-size: 18px;
}

.forecast-options-show {
    animation: forecast-options-slide-out 2s ease;
    height: 50px;
}

.forecast-options-hide {
    animation: forecast-options-slide-in 2s ease;
}

.input-error {
    font-size: 32px;
    color: red;
    text-align: center;
    font-weight: normal;
    text-decoration: underline;
    animation-name: input-error-slide;
    animation-duration: 7s;
}

.hide {
    display: none;
}

#location {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
    & p {
        font-weight: bold;
        margin: 0;
        font-size: 40px;
    }
}

#temperature,
#other-weather {
    margin: 20px auto;
    justify-content: center;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 24px;
    transition: all 1s ease;
    p {
        color: white;
        font-size: 22px;
    }
}

.val {
    font-weight: bold;
    font-size: 24px;
    color: whitesmoke;
    text-decoration: underline;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        // border-bottom: 0px solid red;
    }
    50% {
        opacity: 1;
        // border-bottom: 2px solid red;
    }
    100% {
        opacity: 0;
        // border-bottom: 0px solid red;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
        // border-bottom: 0px solid red;
    }
    100% {
        opacity: 1;
        // border-bottom: 2px solid red;
    }
    // 100% {
    // opacity: 0;
    // border-bottom: 0px solid red;
    // }
}

@keyframes input-error-slide {
    0% {
        height: 0px;
        opacity: 0;
    }
    25% {
        height: 50px;
        opacity: 1;
    }
    50% {
        height: 50px;
        opacity: 1;
    }
    75% {
        height: 50px;
        opacity: 1;
    }
    100% {
        height: 0px;
        opacity: 0;
    }
}

@keyframes forecast-options-slide-out {
    0% {
        height: 0px;
        opacity: 0;
    }
    100% {
        height: 50px;
        opacity: 1;
    }
}

@keyframes forecast-options-slide-in {
    0% {
        height: 50px;
        opacity: 1;
    }
    100% {
        height: 0px;
        opacity: 0;
    }
}
